@import 'bootstrap/scss/bootstrap';
@import '@/utils/app-colors';

.react-datepicker-wrapper {
  width: 100%;
  input {
    @extend .form-control;
    @extend .form-control-lg;
    background-color: $app-light;
  }
}

.auth-form-input {
  background-color: $app-light;
}
