@import '@radix-ui/colors/violet.css';

.dialog-input {
  all: unset;
  color: var(--violet-9);
  background-color: var(--violet-1);
  border: var(--violet-9) 2px solid;
  padding: 5px;
  border-radius: 4px;

  &:hover {
    border: var(--violet-1) 2px solid;
  }
}
