@import '@/utils/app-colors.scss';
@import '@radix-ui/colors/gray.css';

.experience-content {
  background-color: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.experience-card-img {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  object-fit: cover;
}

.experience-card {
  border: 2px solid var(--gray-4);
  border-radius: 10px;
}

.experience-card-description {
  padding-left: 5%;
  color: var(--gray-9);
}

.experience-card-title {
  padding-left: 5%;
}

.experience-card-comments-btn {
  border-top: 2px solid var(--gray-4);
  border-left: 1px solid var(--gray-4);
  color: #0090ff;
  cursor: pointer;
}

.experience-card-likes-btn {
  border-top: 2px solid var(--gray-4);
  border-right: 1px solid var(--gray-4);
  cursor: pointer;
}

.experience-actions {
  height: 20%;
}
